@media only screen and (max-width: 600px) {

/* When the width of this document is 600 pixels or less, 
everything under this happens */

body{
  text-align: center;
  flex-direction: column;
}

header{
  /* border: 15px solid #B1C4B4; */
  display: flex;
  flex-direction:column;
  color: rgb(237, 173, 46);
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
ul{
list-style-type: none;
padding-left: 15px;
display: flex;
justify-content: space-around;
}
.button {
  background-color:rgb(#67786A); /* Dark green */
  border: none;
  padding: 20px;
  border-radius: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button3 {
  /* border: 5px solid #B1C4B4; */
  border-radius: 100%;
}
.button6 { 
  /* border: 5px solid #B1C4B4;; */
  border-radius: 12px;
}
}